[submodule "OrbbecSDK"]
	path = OrbbecSDK
	url = https://github.com/binb1nwu/OrbbecSDK.git
[submodule "nlopt"]
	path = nlopt
	url = https://github.com/binb1nwu/nlopt.git
[submodule "piper_ros"]
	path = piper_ros
	url = https://github.com/binb1nwu/piper_ros.git
[submodule "moveit_ws/src/moveit2"]
	path = moveit_ws/src/moveit2
	url = git@github.com:binb1nwu/moveit2.git
[submodule "orbbec_ws/src/OrbbecSDK_ROS2"]
	path = orbbec_ws/src/OrbbecSDK_ROS2
	url = git@github.com:binb1nwu/OrbbecSDK_ROS2.git
[submodule "piper_sdk"]
	path = piper_sdk
	url = git@github.com:binb1nwu/piper_sdk.git
