[submodule "OrbbecSDK"]
	path = OrbbecSDK
	url = https://github.com/binb1nwu/OrbbecSDK.git
[submodule "nlopt"]
	path = nlopt
	url = https://github.com/binb1nwu/nlopt.git
[submodule "piper_ros"]
	path = piper_ros
	url = https://github.com/binb1nwu/piper_ros.git
[submodule "moveit_ws/src/moveit2"]
	path = moveit_ws/src/moveit2
	url = git@github.com:binb1nwu/moveit2.git
